
/* Hero Section  até a linha 367*/

.hero{
    min-height: 100vh;
  
    background: var(--background);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    overflow-x: hidden;
}

.hero .elemento01{
    position: absolute;
    bottom: 0;
    left: -200px;
    max-width: 600px;
    width: 100%;
    z-index: 1;
    transform: rotate(0deg);
}

.hero .elemento02{
    position: absolute;
    top: -250px;
    right: -200px;
    max-width: 600px;
    width: 100%;
  
    transform: rotate(0deg);
}


.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    margin: 0 auto 100px;
    z-index: 10;
    padding: 0 20px;
}


.hero-content .titulo h1{
    width: fit-content;
    background: #04C011;
    font-weight: 300;
    margin: 10px 0;
    padding: 10px 25px;
    font-size: 50px;
}

.hero-content p{
    font-size: 23px;
    margin: 20px;
    max-width: 50%;
}

.cta-button{
    cursor: pointer;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    padding: 15px 20px;
    width: fit-content;
    transition: ease-in 0.5s;
    
}



.hero-content .desktop{
    display: block;
}

.hero-content .mobile{
    display: none;
}



@media (max-width: 960px){
    .hero-content .titulo h1{
        font-size: 40px;
        transition: 2s;
    }
}

@media (max-width: 790px){

    .hero-content{
        align-items: center;
        text-align: center;
    }

    .hero-content .titulo h1{
        display: block;
        width: 100%;
        /* font-size: 30px; */
        transition: 2s;
        margin: 10px auto;
    }

 

    .hero-content .cta-button.mobile{
        /* font-size: 20px; */
        max-width: 480px;
        width: 100%;
        padding: 30px;
        margin-top: 50px;
        border-radius: 10px;
        position: relative;
    }
    .hero-content .cta-button.mobile::after{
        content: '';
        position: absolute;
        bottom: -15px;
        left: 45%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #04C011;
        animation: animacao-cta 5s linear infinite;
    }

   

    .hero-content .desktop{
        display: none;
    }

    .hero-content .mobile{
        display: block;
    }

    .hero-content p{
        display: none;
    }

    
}

@media (max-width: 500px){
    .hero .elemento01{
        position: absolute;
        bottom: 0;
        left: -100px;
        max-width: 300px;
        width: 100%;
        z-index: 1;
        transform: rotate(0deg);
    }
    
    .hero .elemento02{
        position: absolute;
        top: -100px;
        right: -150px;
        max-width: 300px;
        width: 100%;
      
        transform: rotate(0deg);
    }


    .hero-content .titulo.mobile h1{
        font-size: 25px;
        transition: 1s;
    }
    .hero-content .cta-button.mobile{
        font-size: 20px;
        max-width: 307px;
        margin-top: 30px;
        transition: 1s;
    }

}



/* Detalhes Section */

.detalhes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
    position: relative;
    overflow-x: clip;
}

.detalhes .elemento03{
    transform: rotate(180deg);
    position: absolute;
    top: -50px;
    right: -120px;
    
}

.detalhes .elemento04{
    transform: rotate(0deg);
    position: absolute;
    top: 60%;
    left: -120px;
    
  
}

.detalhes .elemento05{
    transform: rotate(180deg);
    position: absolute;
    top: -130px;
    right: -120px;
    
}

.detalhes .elemento06{
    transform: rotate(0deg);
    position: absolute;
    top: 80%;
    left: -120px;
    
  
}
.detalhes .titulo{
    margin: 100px auto 20px;
}

h1{
    font-weight: 300;
    margin: 0 20px;
    font-size: 50px;
 
}

.card-container{
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin: auto;
}

.card{
    width: 33%;
    padding: 10px;
    height: 500px;
    background: linear-gradient(to bottom, #04c011 25%, #025a08 100%);
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    color: #fff;
}

.card::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #018D0B;
}

.card h2{
    font-size: 45px;
    font-weight: 900;

}

.card p{
    text-align: center;
    font-size: 20px;
}



.detalhes .cta-button{
    margin: 50px auto;
}

.detalhes .mobile{
    display: none;
}


@media (max-width: 1200px){

    .card{
        margin: 0 10px;
    }

    .card h2{
        font-size: 40px;
        transition: 1s;
    }
    .card p{
        font-size: 20px;
    }
}

@media (max-width: 900px){

   
    .card h2{
        font-size: 35px;
        transition: 1s;
    }
    .card p{
        font-size: 18px;
    }
}

@media (max-width: 850px){

    .card-container{
        
        flex-direction: column;
    }
    
    .card{
        margin: 20px 0;
        width: 90%;
        height: 700px;
    }
    .card h2{
        font-size: 55px;
        transition: 1s;
    }
    .card p{
        font-size: 35px;
    }

    .detalhes .desktop{
        display: none;
    }

    .detalhes .mobile{
        padding: 30px;
        border-radius: 10px;
        display: block;
        position: relative;
    }
    .detalhes .mobile::after{
        content: '';
        position: absolute;
        bottom: -15px;
        left: 45%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #04C011;
        animation: animacao-cta 5s linear infinite;
    }
    
}


@media (max-width: 750px){

    .detalhes .titulo h1{
       
        font-size: 40px;
       
    }


}

@media (max-width: 600px){

    .detalhes .titulo h1{
       
        font-size: 35px;
       
    }

    .card{
        padding: 20px;
    }
    .card h2{
        font-size: 55px;
      
    }
    .card p{
        font-size: 25px;
    }
}

@media (max-width: 500px){

    .detalhes .titulo h1{
       
        font-size: 35px;
       
    }

    .card{
        margin: 20px 0;
        padding: 20px;
        height: 500px;
    }
    .card h2{
        font-size: 40px;
      
    }
    .card p{
        font-size: 20px;
    }

    .detalhes .cta-button.mobile{
        font-size: 20px;
        width: 90%;
        text-align: center;
        transition: 1s;
    }
}

@media (max-width: 400px){

    .detalhes .titulo h1{
       
        font-size: 25px;
       
    }

    .card{
        margin: 20px 0;
        padding: 20px;
        height: 500px;
    }
    .card h2{
        font-size: 40px;
      
    }
    .card p{
        font-size: 20px;
    }

    .detalhes .cta-button.mobile{
        font-size: 20px;
        width: 80%;
        text-align: center;
        transition: 1s;
    }
}


/* Conheça Section */

.conheca-positiva{
    height: 100vh;
    color: #fff;
    background: url('../images/img2.png') ;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    overflow: hidden;
}


.conheca-positiva .elemento01{
    position: absolute;
    bottom: 0;
    left: -250px;
    max-width: 600px;
    width: 100%;
    z-index: 1;
    transform: rotate(-60deg);
}

.conheca-positiva .elemento02{
    position: absolute;
    top: 50px;
    right: -250px;
    max-width: 600px;
    width: 100%;
    transform: rotate(-60deg);
}



.conheca-positiva .container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.conheca-positiva .titulo h1{
    width: fit-content;
    background: #04C011;
    color: #FFF;
    font-weight: 300;
    margin: 10px 0;
    padding: 10px 25px;
    font-size: 50px;
}

.conheca-positiva .titulo h2{
    width: fit-content;
    background: #04C011;
    color: #FFF;
    font-weight: 300;
    margin: 10px 0;
    padding: 10px 25px;
    font-size: 35px;
}

.conheca-positiva p{
    font-size: 30px;
    margin: 20px;
    max-width: 100%;
    text-align: center;
}


@media (max-width: 800px){

   
    .conheca-positiva .elemento01{
        position: absolute;
        bottom: 0;
        left: -150px;
        max-width: 400px;
        width: 100%;
        z-index: 1;
        transform: rotate(-60deg);
    }

    .conheca-positiva .elemento02{
        position: absolute;
        top: 50px;
        right: -150px;
        max-width: 400px;
        width: 100%;
        transform: rotate(-60deg);
    }
    
}

@media (max-width: 700px){

   
    .conheca-positiva .desktop{
        display: none;
    }
    .conheca-positiva .mobile{
        display: block;
       
    }

    .conheca-positiva .titulo h1{
        
        font-size: 40px;
    }
    
    .conheca-positiva .titulo h2{
        
        font-size: 30px;
    }
    .conheca-positiva p{
        display: none;
    }
    

    .conheca-positiva .container{
        justify-content: end;
        margin-bottom: 100px;
    }
}

@media (max-width: 550px){

   
  
    .conheca-positiva .titulo h1{
        font-size: 30px;
    }
    
    .conheca-positiva .titulo h2{   
        font-size: 20px;
    }
   
}

@media (max-width: 450px){

   
  
    .conheca-positiva .titulo h1{
        font-size: 23px;
    }
    
    .conheca-positiva .titulo h2{   
        font-size: 18px;
    }
   
}

/* Numero 1 section */
.numero1{
    min-height: 70vh;
    background: linear-gradient(to bottom, #04c011 30%, #025A08 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.numero1 .container{
    padding: 0 20px;
    z-index: 20;
}


.numero1 .elemento01{
    transform: rotate(-30deg);
    position: absolute;
    top: 15%;
    right: -170px;
}

.numero1 .elemento02{
    transform: rotate(180deg);
    position: absolute;
    width: 250px;
    top: 70%;
    left: -150px;
    z-index: 10;
}

.numero1 .titulo h1{
    font-size: 80px;
    letter-spacing: 15px;
}

.numero1 .cta-button{
   margin-top: 80px;
   z-index: 20 !important;
}

@media (max-width: 1080px){

    .numero1 .titulo h1{
        font-size: 70px;
        letter-spacing: 10px;
    }


}

@media (max-width: 920px){

    .numero1 .titulo h1{
        font-size: 60px;
        letter-spacing: 10px;
    }
    .numero1 .elemento01{
        width: 250px;
    }


}

@media (max-width: 800px){

    .numero1 .titulo h1{
        font-size: 50px;
        letter-spacing: 10px;
    }
  
    .numero1 .elemento02{
        width: 200px;
        left: -100px;
    }

}

@media (max-width: 700px){

    .numero1 .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .numero1 .titulo h1{
        font-size: 40px;
        letter-spacing: 7px;
    }
    .numero1 .elemento01{
        top: -150px;
        
    }

  
    .numero1 .elemento02{
        width: 200px;
        left: -100px;
        top: 90%;
    }

    .numero1 .desktop{
        display: none;
    }
    .numero1 .mobile{
        display: block;
    }

    .numero1 .cta-button.mobile{
        text-align: center;
        /* font-size: 20px; */
        transition: 2s;
        max-width: 480px;
        width: 100%;
        padding: 30px;
        margin-top: 50px;
        border-radius: 10px;
        position: relative;
    }
    .numero1 .cta-button.mobile::after{
        content: '';
        position: absolute;
        bottom: -15px;
        left: 45%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #04C011;
        animation: animacao-cta 5s linear infinite;
    }
}

@media (max-width: 920px){

    .numero1 .titulo h1{
        font-size: 60px;
        letter-spacing: 10px;
    }
    .numero1 .elemento01{
        width: 250px;
    }


}

@media (max-width: 800px){

    .numero1 .titulo h1{
        font-size: 50px;
        letter-spacing: 10px;
    }
  
    .numero1 .elemento02{
        width: 200px;
        left: -100px;
    }

}

@media (max-width: 700px){


    .numero1 .titulo h1{
        font-size: 40px;
        letter-spacing: 7px;
    }


}

@media (max-width: 530px){


    .numero1 .titulo h1{
        font-size: 30px;
        letter-spacing: 3px;
    }

    .numero1 .cta-button.mobile{
        text-align: center;
        font-size: 20px;
        max-width: 380px;
 
    }
}

@media (max-width:410px){


    .numero1 .titulo h1{
        font-size: 26px;
        margin: 0;
    }

    .numero1 .cta-button.mobile{
        text-align: center;
        font-size: 20px;
        max-width: 380px;
 
    }
}


/* Media Section */

.media .container-cta{
    padding: 0 20px;
}

.media .titulo{
    margin-top: 100px;
    margin-bottom: 80px;
}
.media .titulo h1{
   
    transition: all 1s ease;
}

.media .cta-button{
    margin: auto;
}

/*  Swiper */

.swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.swiper-slide video{
    border-radius: 10px;
    width: 100%;

}

.swiper{
    overflow: hidden;
    width: 90%;
    margin: 50px auto;
    padding-bottom: 40px;
}
.swiper-pagination-bullet{
    background-color: #013b05;
    width: 15px;
    height: 15px;
}

.swiper-pagination-bullet-active{
    width: 25px;
    border-radius: 10px;
}



.media-wrapper img{
/*    
    max-width: 307px; */
    width: 100%;

    object-fit: cover;
}




/* Contato */

.subtitulo{
    padding: 20px;
}
.subtitulo p{
    font-size: 23px;
}

form {
    width: 100%;
    padding: 10px;
}

form input{
    border: 1px solid #343434;
    width: 100%;
    height: 70px;
    margin: 5px 0;
    padding: 10px;
    font-size: 1rem;
}

form textarea{
    border: 1px solid #343434;
    width: 100%;
    height: 150px;
    margin: 5px 0;
    padding: 10px;
    font-size: 1rem;
}


form input[type=submit]{
    width: 50%;
    background-color: #04C011;
    border: none;
    color: white;
    font-size: 30px;
    transition: all 1s ease;
}

form input:focus{
    border: 1px solid #04C011;
    outline: 0;
    background-color: #04c0111f;
}

form textarea:focus{
    border: 1px solid #04C011;
    outline: 0;
    background-color: #04c0111f;

}



form input:invalid:focus{
    border: 1px solid #c00404;
    outline: 0;
    background-color: #c004041f;
}
form textarea:invalid:focus{
    border: 1px solid #c00404;
    outline: 0;
    background-color: #c004041f;
}


form input[type=submit]:hover{
    background-color: #055f0b;
    transition: all 0.5s ease;
    cursor: pointer;
}



@media (max-width: 700px){

    .media .titulo h1{
       font-size: 40px;
       transition: all 1s ease;
    }
    .media .subtitulo p{
        /* text-align: center; */
        font-size: 18px;
        transition: all 1s ease;
    }

    .media .desktop{
        display: none;
    }
    .media .mobile{
        display: block;
    }

    .media .cta-button.mobile{
        text-align: center;
        /* font-size: 20px; */
        transition: 2s;
        max-width: 480px;
        width: 100%;
        padding: 30px;
        margin-top: 50px;
        border-radius: 10px;
        position: relative;
    }
    .media .cta-button.mobile::after{
        content: '';
        position: absolute;
        bottom: -15px;
        left: 45%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #04C011;
        animation: animacao-cta 5s linear infinite;
    }

    .swiper{
        overflow: hidden;
        width: 99%;
        /* margin-left: 20px; */
      
    }
}


@media (max-width: 533px){
    .media .titulo h1{
        text-align: center;
        font-size: 30px;
        transition: all 1s ease;
     }
     .media .subtitulo p{
        text-align: center;
        font-size: 15px;
        transition: all 1s ease;
    }
    form input[type=submit]{
        width: 100%;
        transition: all 0.5s ease;
        cursor: pointer;
    }
}

@media (max-width: 448px){
    .media .titulo h1{
        text-align: center;
        font-size: 23px;
        transition: all 1s ease;
     }
     .media .subtitulo p{
        text-align: center;
        font-size: 13px;
        transition: all 1s ease;
    }
}


