@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

:root{
    --font: "Montserrat", sans-serif;
}

strong{
    font-weight: 700;
}

@keyframes animacao-cta{
    0%{transform: scale(1);}
    25%{transform: scale(1.2);}
    50%{transform: scale(1); }
    75%{transform: scale(1.2);}
    100%{transform: scale(1);}
} 


.cta-button:hover{
    transform: scale(1.1);
    transition: 1s;
}

.desktop{
    display: block;
}

.mobile{
    display: none;
}

.mt-50{
    margin-top: 50px;
}

.mb-10{
    margin-bottom: 10px;
}