.detalhes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
    position: relative;
    overflow-x: clip;
}

.detalhes .elemento03{
    transform: rotate(180deg);
    position: absolute;
    top: -50px;
    right: -120px;
    
}

.detalhes .elemento04{
    transform: rotate(0deg);
    position: absolute;
    top: 60%;
    left: -120px;
    
  
}

.detalhes .elemento05{
    transform: rotate(180deg);
    position: absolute;
    top: -130px;
    right: -120px;
    
}

.detalhes .elemento06{
    transform: rotate(0deg);
    position: absolute;
    top: 80%;
    left: -120px;
    
  
}
.detalhes .titulo{
    margin: 100px auto 20px;
}

h1{
    font-weight: 300;
    margin: 0 20px;
    font-size: 50px;
 
}

.card-container{
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin: auto;
}

.card{
    width: 33%;
    padding: 10px;
    height: 500px;
    background: linear-gradient(to bottom, #04c011 25%, #025a08 100%);
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    color: #fff;
}

.card::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: #018D0B;
}

.card h2{
    font-size: 45px;
    font-weight: 900;

}

.card p{
    text-align: center;
    font-size: 20px;
}



.detalhes .cta-button{
    margin: 50px auto;
}

.detalhes .mobile{
    display: none;
}


@media (max-width: 1200px){

    .card{
        margin: 0 10px;
    }

    .card h2{
        font-size: 40px;
        transition: 1s;
    }
    .card p{
        font-size: 20px;
    }
}

@media (max-width: 900px){

   
    .card h2{
        font-size: 35px;
        transition: 1s;
    }
    .card p{
        font-size: 18px;
    }
}

@media (max-width: 850px){

    .card-container{
        
        flex-direction: column;
    }
    
    .card{
        margin: 20px 0;
        width: 90%;
        height: 700px;
    }
    .card h2{
        font-size: 55px;
        transition: 1s;
    }
    .card p{
        font-size: 35px;
    }

    .detalhes .desktop{
        display: none;
    }

    .detalhes .mobile{
        padding: 30px;
        border-radius: 10px;
        display: block;
        position: relative;
    }
    .detalhes .mobile::after{
        content: '';
        position: absolute;
        bottom: -15px;
        left: 45%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #04C011;
        animation: animacao-cta 5s linear infinite;
    }
    
}


@media (max-width: 750px){

    .detalhes .titulo h1{
       
        font-size: 40px;
       
    }


}

@media (max-width: 600px){

    .detalhes .titulo h1{
       
        font-size: 35px;
       
    }

    .card{
        padding: 20px;
    }
    .card h2{
        font-size: 55px;
      
    }
    .card p{
        font-size: 25px;
    }
}

@media (max-width: 500px){

    .detalhes .titulo h1{
       
        font-size: 35px;
       
    }

    .card{
        margin: 20px 0;
        padding: 20px;
        height: 500px;
    }
    .card h2{
        font-size: 40px;
      
    }
    .card p{
        font-size: 20px;
    }

    .detalhes .cta-button.mobile{
        font-size: 20px;
        width: 90%;
        text-align: center;
        transition: 1s;
    }
}

@media (max-width: 400px){

    .detalhes .titulo h1{
       
        font-size: 25px;
       
    }

    .card{
        margin: 20px 0;
        padding: 20px;
        height: 500px;
    }
    .card h2{
        font-size: 40px;
      
    }
    .card p{
        font-size: 20px;
    }

    .detalhes .cta-button.mobile{
        font-size: 20px;
        width: 80%;
        text-align: center;
        transition: 1s;
    }
}